{% load static %}
{% load dateutil %}

<!DOCTYPE html>
<html>
<head>
    <title>PAPELETA DE COMISION</title>
    <script type="text/javascript" src="http://livejs.com/live.js"></script>
    <style type="text/css">
        @page {
        margin: 0.5in 0.7in;
        padding: 0;
            @frame header {
                -pdf-frame-content: headerContent;
                width: 8in;
                top: 0.5in;
                margin-left: 0.5in;
                margin-right: 0.5in;
                height: 1.0in;
            }
            @frame footer {
                -pdf-frame-content: footerContent;
                width: 8in;
                bottom: 0in;
                margin-left: 2cm;
                margin-right: 2cm;
                height: 1cm;
            }
        }
        table {
            table-layout: fixed;
            width:100%;
        }
        td {
          /*border: 0px solid;*/
          /*width: calc(100%/2);*/
        }
        p.center {
            text-align: center;
        }
        .dots_top {
            border-top: 1px dashed #444444;
            padding-top: 15px;
        }
        .dots {
            border-bottom: 1px dashed #444444;
        }
        .field {
            font-weight:bold;
            margin-right: 15px;
        }
        th.month{
            padding: 2px 0;
            background-color: #505050;
            color: #FFF;
        }
        .boxlabel{
            width: 10px;
            height: 10px;
        }
        .completo{
            background-color: #4c86a6;
        }
        .medio{
			background-color: #f17e67;
		}
        table.month th{
            text-align: center;
        }
        table.month td{
            text-align: center;
        }
        h3{
            padding:8px 0 0 0;
        }

    </style>
</head>

<body style="font-size: 8pt">
    <table border="0" width="100%" style="font-size: 7pt">
        <tr>
            <td width="25%"><img src="{% static 'img/escudo.png' %}" alt="escudo de bolivia" width="100px"/></td>
            <td width="50%"><p class="center"><b>AGENCIA DE GOBIERNO ELECTRONICO Y TECNOLOGIAS DE INFORMACION Y COMUNICACION
</b><br>UNIDAD ADMINISTRATIVA FINANCIERA</p>
                <p class="center"><b>FICHA PERSONAL</b><br>RECURSOS HUMANOS</p>
            </td>
            <td width="25%"><img src="{% static 'img/agetic.png' %}" alt="logo agetic" width="200px"/></td>
        </tr>
        <!-- <tr> -->
        <!--     <td colspan="3" align="right" style="padding: 2px 2px 0 0;"><h2>Fecha #{{ item.id }}</h2></td> -->
        <!-- </tr> -->
    </table>

    <table border="0" cellpadding="4" cellspacing="4" width="100%" style="margin-top: 5px;font-size:8pt;">
        <tr>
            <td colspan="4">
                <H3>DATOS PERSONALES</H3>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <div class="dots"><span class="field">Nombres y Apellidos: </span>{{uitem.first_name|default:""}} {{uitem.last_name|default:""}}</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="dots"><span class="field">Email: </span>{{item.ficha_personal.email_personal|default:""}}</div>
            </td>
            <td>
                <div class="dots"><span class="field">Documemto Tipo: </span>{{item.ficha_personal.documento_tipo|default:""}}</div>
            </td>
            <td>
                <div class="dots"><span class="field">Documento Numero: </span>{{item.ficha_personal.documento_numero|default:""}}</div>
            </td>
            <td>
                <div class="dots"><span class="field">Expedici&oacute;n: </span>{{item.ficha_personal.documento_exp|default:""}}</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="dots"><span class="field">Telf. Domicilio: </span>{{item.ficha_personal.telefono_domicilio|default:""}}</div>
            </td>
            <td>
                <div class="dots"><span class="field">Telf. Celular: </span>{{item.ficha_personal.telefono_celular|default:""}}</div>
            </td>
            <td>
                <div class="dots"><span class="field">Fecha Nacimiento: </span>{{item.ficha_personal.fecha_nacimiento|default:""|parse_date:"%Y-%m-%dT%H:%M:%S.%fZ"|date:"d/m/Y"}}</div>
            </td>
            <td>
                <div class="dots"><span class="field">Pais Nacimiento: </span>{{item.ficha_personal.pais_nacimiento|default:""}}</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="dots"><span class="field">Lugar Nacimiento: </span>{{item.ficha_personal.lugar_nacimiento|default:""}}</div>
            </td>
            <td>
                <div class="dots"><span class="field">Nacionalidad: </span>{{item.ficha_personal.nacionalidad|default:""}}</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="dots"><span class="field">Zona Domicilio: </span>{{item.ficha_personal.zona_domicilio|default:""}}</div>
            </td>
            <td>
                <div class="dots"><span class="field">Av. o Calle Domicilio: </span>{{item.ficha_personal.calle_domicilio|default:""}}</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="dots"><span class="field">N&deg; Domicilio: </span>{{item.ficha_personal.nro_domicilio|default:""}}</div>
            </td>
            <td>
                <div class="dots"><span class="field">Edificio: </span>{{item.ficha_personal.edificio|default:""}}</div>
            </td>
            <td>
                <div class="dots"><span class="field">Piso: </span>{{item.ficha_personal.piso|default:""}}</div>
            </td>
            <td>
                <div class="dots"><span class="field">N&deg; Departamento: </span>{{item.ficha_personal.nr_departamento|default:""}}</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="dots"><span class="field">N&deg; Cuenta: </span>{{item.ficha_personal.nro_cuenta|default:""}}</div>
            </td>
            <td>
                <div class="dots"><span class="field">Estado Civil: </span>{{item.ficha_personal.estado_civil|default:""}}</div>
            </td>
            <td>
                <div class="dots"><span class="field">Grupo Sanguineo: </span>{{item.ficha_personal.grupo_sanguineo|default:""}}</div>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <H3>DATOS LABORALES</H3>
            </td>
        </tr>
        <tr>
            <td>
                <div class="dots"><span class="field">Nombre de Usuario: </span>{{uitem.username|default:""}}</div>
            </td>
            <td>
                <div class="dots"><span class="field">N&deg; Item: </span>{{uitem.nro_item|default:""}}</div>
            </td>
            <td>
                <div class="dots"><span class="field">Fecha Asignaci&oacute;n Item: </span>{{uitem.fecha_asignacion|default:""}}</div>
            </td>
            <td>
                <div class="dots"><span class="field">CAS: </span>{{uitem.cas|default:""}}</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="dots"><span class="field">Email Institucional: </span>{{uitem.email|default:""}}</div>
            </td>
            <td>
                <div class="dots"><span class="field">Cargo: </span>{{item.ficha_laboral.cargo_actual|default:""}}</div>
            </td>
            <td colspan="2">
                <div class="dots"><span class="field">Unidad de Dependencia: </span>{{item.ficha_laboral.unidad_actual|default:""}}</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="dots"><span class="field">N&deg; Registro Profesional: </span>{{item.ficha_laboral.registro_profesional|default:0}}</div>
            </td>
            <td>
                <div class="dots">
                    <span class="field">N&deg; Funcionario de Carrera : </span>{{item.ficha_laboral.nro_funcionario_carrera|default:""}}
                </div>
            </td>
        </tr>
        {% if item.trayectoria %}
        <tr>
            <td colspan="4">
                <H3>TRAYECTORIA</H3>
            </td>
        </tr>
        {% for vitem in item.trayectoria %}
        <tr>
            <td>
                <div class="dots"><span class="field">Fecha de Inicio: </span>{{vitem.fecha_inicio|default:""|parse_date:"%Y-%m-%dT%H:%M:%S.%fZ"|date:"d/m/Y"}}</div>
            </td>
            <td>
                <div class="dots"><span class="field">Fecha Final: </span>{{vitem.fecha_final|default:""|parse_date:"%Y-%m-%dT%H:%M:%S.%fZ"|date:"d/m/Y"}}</div>
            </td>
            <td>
                <div class="dots"><span class="field">Cargo: </span>{{vitem.cargo|default:""}}</div>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
        {% if item.estudios_universitarios %}
        <tr>
            <td colspan="4">
                <H3>ESTUDIOS ACAD&Eacute;MICOS</H3>
            </td>
        </tr>
        {% for vitem in item.estudios_universitarios %}
        {% if not forloop.first %}<tr colspan="4"><td>&nbsp;</td></tr>{% endif %}
        <tr>
            <td>
                <div class="dots"><span class="field">A&ntilde;o de inicio: </span>{{vitem.year_inicio|default:""}}</div>
            </td>
            <td>
                <div class="dots"><span class="field">A&ntilde;o Final: </span>{{vitem.year_final|default:""}}</div>
            </td>
            <td>
                <div class="dots"><span class="field">Carrera o &Aacute;rea: </span>{{vitem.carrera|default:""}}</div>
            </td>
            <td>
                <div class="dots"><span class="field">Universidad o Instituci&oacute;n de Estudios: </span>{{vitem.universidad|default:""}}</div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="dots"><span class="field">Nivel alcanzado: </span>{{vitem.nivel|default:""}}</div>
            </td>
            <td>
                <div class="dots"><span class="field">Ciudad o Pa&iacute;s: </span>{{vitem.ciudad|default:""}}</div>
            </td>
            <td>
                <div class="dots"><span class="field">Fecha emisi&oacute;n: </span>{{vitem.fecha_emision|default:""|parse_date:"%Y-%m-%dT%H:%M:%S.%fZ"|date:"d/m/Y"}}</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="dots"><span class="field">T&iacute;tulo Acad&eacute;mico: </span>{{vitem.titulo|default:""|yesno:"Si,No"}}</div>
                <div class="dots"><span class="field">T&iacute;tulo en Provisi&oacute;n Nacional: </span>{{vitem.titulo_provision|default:""|yesno:"Si,No"}}</div>
            </td>
            <td colspan="2">
                <div class="dots"><span class="field">Concluido: </span>{{vitem.concluido|default:""|yesno:"Si,No"}}</div>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
        {% if item.estudios_especializacion %}
        <tr>
            <td colspan="4">
                <H3>ESTUDIOS DE ESPECIALIZACI&Oacute;N, Maestr&iacute;a y/o Doctorado</H3>
            </td>
        </tr>
        {% for vitem in item.estudios_especializacion %}
        {% if not forloop.first %}<tr colspan="4"><td>&nbsp;</td></tr>{% endif %}
        <tr>
            <td>
                <div class="dots"><span class="field">A&ntilde;o de inicio: </span>{{vitem.year_inicio|default:""}}</div>
            </td>
            <td>
                <div class="dots"><span class="field">A&ntilde;o Final: </span>{{vitem.year_final|default:""}}</div>
            </td>
            <td colspan="2">
                <div class="dots"><span class="field">&Aacute;rea de especializaci&oacute;n: </span>{{vitem.area|default:""}}</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="dots"><span class="field">Nivel: </span>{{vitem.nivel|default:""}}</div>
            </td>
            <td>
                <div class="dots"><span class="field">Carga horaria: </span>{{vitem.carga_horaria|default:""}}</div>
            </td>
            <td>
                <div class="dots"><span class="field">Universidad o Instituto: </span>{{vitem.universidad|default:""}}</div>
            </td>
            <td>
                <div class="dots"><span class="field">Concluido: </span>{{vitem.concluido|default:""|yesno:"Si,No"}}</div>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
        {% if item.cursos_relacionados %}
        <tr>
            <td colspan="4">
                <H3>CURSOS</H3>
            </td>
        </tr>
        {% for vitem in item.cursos_relacionados %}
        {% if not forloop.first %}<tr colspan="4"><td>&nbsp;</td></tr>{% endif %}
        <tr>
            <td>
                <div class="dots"><span class="field">Mes: </span>{{vitem.mes|default:""}}</div>
            </td>
            <td>
                <div class="dots"><span class="field">A&ntilde;o: </span>{{vitem.year|default:""}}</div>
            </td>
            <td>
                <div class="dots"><span class="field">Curso: </span>{{vitem.curso|default:""}}</div>
            </td>
            <td>
                <div class="dots"><span class="field">&Aacute;rea: </span>{{vitem.area|default:""}}</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="dots"><span class="field">Carga horaria: </span>{{vitem.carga_horaria|default:""}}</div>
            </td>
            <td>
                <div class="dots"><span class="field">Universidad o Instituto: </span>{{vitem.universidad|default:""}}</div>
            </td>
            <td>
                <div class="dots"><span class="field">Concluido: </span>{{vitem.concluido|default:""|yesno:"Si,No"}}</div>
            </td>
            <td>
                <div class="dots"><span class="field">T&iacute;tulo Acad&eacute;mico: </span>{{vitem.titulo|default:""|yesno:"Si,No"}}</div>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
        {% if item.idiomas %}
        <tr>
            <td colspan="4">
                <H3>IDIOMAS</H3>
            </td>
        </tr>
        {% for vitem in item.idiomas %}
        <tr>
            <td colspan="3">
                <div class="dots"><span class="field">Descripci&oacute;n: </span>{{vitem.descripcion|default:""}}</div>
            </td>
            <td>
                <div class="dots"><span class="field">Nivel: </span>{{vitem.nivel|default:""}}</div>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
        {% if item.conocimientos %}
        <tr>
            <td colspan="4">
                <H3>OTROS CONOCIMIENTOS</H3>
            </td>
        </tr>
        {% for vitem in item.conocimientos %}
        <tr>
            <td colspan="3">
                <div class="dots"><span class="field">Descripci&oacute;n: </span>{{vitem.descripcion|default:""}}</div>
            </td>
            <td>
                <div class="dots"><span class="field">Grado de Conocimiento: </span>{{vitem.grado|default:""}}</div>
            </td>
       </tr>
        {% endfor %}
        {% endif %}
        {% if item.experiencia_laboral %}
        <tr>
            <td colspan="4">
                <H3>EXPERIENCIA LABORAL</H3>
            </td>
        </tr>
        {% for vitem in item.experiencia_laboral %}
        {% if not forloop.first %}<tr colspan="4"><td>&nbsp;</td></tr>{% endif %}
        <tr>
            <td>
                <div class="dots"><span class="field">Fecha de Inicio: </span>{{vitem.fecha_inicio|default:""|parse_date:"%Y-%m-%dT%H:%M:%S.%fZ"|date:"d/m/Y"}}</div>
            </td>
            <td>
                <div class="dots"><span class="field">Fecha Final: </span>{{vitem.fecha_final|default:""|parse_date:"%Y-%m-%dT%H:%M:%S.%fZ"|date:"d/m/Y"}}</div>
            </td>
            <td colspan="2">
                <div class="dots"><span class="field">Nombre Instituc&iacute;on: </span>{{vitem.nombre|default:""}}</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="dots"><span class="field">Tipo: </span>{{vitem.tipo|default:""}}</div>
            </td>
            <td>
                <div class="dots"><span class="field">Pa&iacute;s: </span>{{vitem.pais|default:""}}</div>
            </td>
            <td colspan="2">
                <div class="dots"><span class="field">Cargo: </span>{{vitem.cargo|default:""}}</div>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
        <tr>
            <td colspan="4">
                <H3>SUSCRIPCION DE LA FICHA PERSONAL</H3>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <p>Declaro que la información contenida en la presente ficha de personal es fidedigna.</p>
                <p>De verificarse que la información es falsa serán pasibles de la responsabilidad por la función pública.</p>
            </td>
        </tr>
        <tr>
            <td>Nombre del servidor(a)<br>p&uacute;blico</td>
            <td colspan="3">
                <div class="dots">&nbsp;</div>
            </td>
        </tr>
        <tr>
            <td>Firma del servidor(a)<br>p&uacute;blico</td>
            <td colspan="3">
                <div class="dots">&nbsp;</div>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <H4>REVISADO POR:</H4>
            </td>
        </tr>
        <tr>
            <td>Nombre del Profesional en<br>Recursos Humanos</td>
            <td colspan="3">
                <div class="dots">&nbsp;</div>
            </td>
        </tr>
        <tr>
            <td>Firma del Profesional en<br>Recursos Humanos</td>
            <td colspan="3">
                <div class="dots">&nbsp;</div>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <H4>APROBADO POR:</H4>
            </td>
        </tr>
        <tr>
            <td>Nombre del Responsable <br>Administrativo</td>
            <td colspan="3">
                <div class="dots">&nbsp;</div>
            </td>
        </tr>
        <tr>
            <td>Firma del Responsable <br>Administrativo</td>
            <td colspan="3">
                <div class="dots">&nbsp;</div>
            </td>
        </tr>

    </table>
</body>
</html>
