{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>PAPELETA DE LICENCIA</title>
    <style type="text/css">
        @page {
        margin: 0.5in 0.7in;
        padding: 0;
            @frame header {
                -pdf-frame-content: headerContent;
                width: 8in;
                top: 0.5in;
                margin-left: 0.5in;
                margin-right: 0.5in;
                height: 1.0in;
            }
            @frame footer {
                -pdf-frame-content: footerContent;
                width: 8in;
                bottom: 0in;
                margin-left: 2cm;
                margin-right: 2cm;
                height: 1cm;
            }
        }
        table {
          table-layout: fixed;
        }
        td {
          border: 0px solid;
          /*width: calc(100%/2);*/
        }
        p.center {
            text-align: center;
        }
        .dots_top {
            border-top: 1px dashed #444444;
            padding-top: 15px;
        }
        .dots {
            border-bottom: 1px dashed #444444;
        }
        .field {
            font-weight:bold;
            margin-right: 15px;
        }
    </style>
</head>

<body style="font-size: 8pt">

    <table border="0" width="100%" style="font-size: 7pt">
        <tr>
            <td width="25%"><img src="{% static 'img/escudo.png' %}" alt="escudo de bolivia" width="100px"/></td>
            <td width="50%"><p class="center"><b>AGENCIA DE GOBIERNO ELECTRONICO Y TECNOLOGIAS DE INFORMACION Y COMUNICACION
</b><br>UNIDAD ADMINISTRATIVA FINANCIERA</p>
                <p class="center"><b>PAPELETA DE LICENCIAS</b><br>RECURSOS HUMANOS</p>
            </td>
            <td width="25%"><img src="{% static 'img/agetic.png' %}" alt="escudo de bolivia" width="200px"/></td>
        </tr>
        <tr>
            <td colspan="3" align="right" style="padding: 5px 5px 0 0;"><h2>Boleta #{{ item.id }}</h2></td>
        </tr>
    </table>

    <table border="0" cellpadding="4" cellspacing="4" width="100%" style="margin-top: 20px">
        <tr>
            <td colspan="2">
                <div class="dots"><span class="field">NOMBRE DEL FUNCIONARIO: </span>{{item.usuario.first_name}} {{item.usuario.last_name}}</div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="dots"><span class="field">UNIDAD ORGANIZACIONAL: </span>{{item.unidad_organizacional}}</div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="dots"><span class="field">MOTIVO LICENCIA: </span>{{item.motivo}}</div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="dots"><span class="field">NUMERO DE DIAS: </span>{{item.num_dias}}</div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="dots"><span class="field">DOCUMENTO DE RESPALDO: </span>{{item.licencia_respaldo}}</div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="dots"><span class="field">FECHA: </span>
                    {% if item.fecha_ini == item.fecha_fin %}
                        {{item.fecha_ini}}
                    {% else %}
                        {{item.fecha_ini}} - {{item.fecha_fin}}
                    {% endif %}
                </div>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td style="text-align: right; padding: 5px 0 40px 0">(SELLO Y FECHA RRHH)</td>
        </tr>
        <tr style="text-align: center">
            <td>
                <div class="dots_top">
                    <br>
                    FIRMA DEL FUNCIONARIO
                </div>
            </td>
            <td>
                <div class="dots_top">
                    {{ item.jefe.first_name }} {{ item.jefe.last_name }}
                    <br>
                    FIRMA INMEDIATO SUPERIOR
                </div>
            </td>
        </tr>

    </table>

</body>

</html>