{% load static %}
{% load listutil %}

<!DOCTYPE html>
<html>

<head>
    <title>PAPELETA DE COMISION</title>
    <style type="text/css">
        @page {
        margin: 0.5in 0.7in;
        padding: 0;
            @frame header {
                -pdf-frame-content: headerContent;
                width: 8in;
                top: 0.5in;
                margin-left: 0.5in;
                margin-right: 0.5in;
                height: 1.0in;
            }
            @frame footer {
                -pdf-frame-content: footerContent;
                width: 8in;
                bottom: 0in;
                margin-left: 2cm;
                margin-right: 2cm;
                height: 1cm;
            }
        }
        table {
            table-layout: fixed;
            width:100%;
        }
        td {
          /*border: 0px solid;*/
          /*width: calc(100%/2);*/
        }
        p.center {
            text-align: center;
        }
        .dots_top {
            border-top: 1px dashed #444444;
            padding-top: 15px;
        }
        .dots {
            border-bottom: 1px dashed #444444;
        }
        .field {
            font-weight:bold;
            margin-right: 15px;
        }
        th.month{
            padding: 2px 0;
            background-color: #505050;
            color: #FFF;
        }
        .boxlabel{
            width: 10px;
            height: 10px;
        }
        .completo{
            background-color: #4c86a6;
        }
        .medio{
			background-color: #f17e67;
		}
        table.month th{
            text-align: center;
        }
        table.month td{
            text-align: center;
        }
    </style>
</head>

<body style="font-size: 8pt">

    <table border="0" width="100%" style="font-size: 7pt">
        <tr>
            <td width="25%"><img src="{% static 'img/escudo.png' %}" alt="escudo de bolivia" width="100px"/></td>
            <td width="50%"><p class="center"><b>AGENCIA DE GOBIERNO ELECTRONICO Y TECNOLOGIAS DE INFORMACION Y COMUNICACION
</b><br>UNIDAD ADMINISTRATIVA FINANCIERA</p>
                <p class="center"><b>REGISTRO DE VACACIONES</b><br>RECURSOS HUMANOS</p>
            </td>
            <td width="25%"><img src="{% static 'img/agetic.png' %}" alt="logo agetic" width="200px"/></td>
        </tr>
        <!-- <tr> -->
        <!--     <td colspan="3" align="right" style="padding: 2px 2px 0 0;"><h2>Fecha #{{ item.id }}</h2></td> -->
        <!-- </tr> -->
    </table>

    <table border="0" cellpadding="4" cellspacing="4" width="100%" style="margin-top: 5px;font-size:8pt;">
        <tr>
            <td>
                <div class="dots"><span class="field">C.I.: </span>{{item.ci|default:""}}</div>
            </td>
            <td>
                <div class="dots"><span class="field">ITEM: </span>{{item.nro_item|default:""}}</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="dots"><span class="field">C.A.S.: </span>{{item.CAS|default:0}}</div>
            </td>
            <td>
                <div class="dots">
                    <span class="field">FECHA DE INGRESO: </span>{{item.fecha_asignacion|default:""}}
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="dots"><span class="field">NOMBRE DEL FUNCIONARIO: </span>{{item.first_name}} {{item.last_name}}</div>
            </td>
        </tr>
        <!-- <tr> -->
        <!--     <td colspan="2"> -->
        <!--         <div class="dots"><span class="field">CARGO: </span>{{item.cargo|default:""}}</div> -->
        <!--     </td> -->
        <!-- </tr> -->
        <!-- <tr> -->
        <!--     <td colspan="2"> -->
        <!--         <div class="dots"><span class="field">UNIDAD DE DEPENDECIA: </span>{{item.unidad_organizacional}}</div> -->
        <!--     </td> -->
        <!-- </tr> -->
        <tr>
            <td colspan="2">
                <div class="dots"><span class="field">SU PROGRAMACIÓN DE VACACIÓN DEBE SER A PARTIR DE: </span>{{item.fecha_programacion}}</div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="dots"><span class="field">CANTIDAD DE DÍAS PARA VACACIONES: </span>{{item.dias_total_cas|default:""}}</div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table><tr>
                        <td class="completo" width="20px">&nbsp;</td>
                        <td width="150px">&nbsp;&nbsp;Días completos</td>
                        <td class="medio" width="20px">&nbsp;</td>
                        <td width="150px">&nbsp;&nbsp;Medios Días</td>
                        <td align="right" style="padding: 2px 2px 0 0;"><h3>FECHA: {{ xfecha|default:"" }}</h3></td>
                </tr></table>
                <table class="calendar_container" cellpadding="4">
                    {% for sublist in calendario|partition:"4" %}
                    <tr>
                        {% for xitem in sublist %}
                            <td class="calendar_container_td" valign="top">{{xitem|safe}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td style="text-align: right; padding: 5px 0 40px 0">(SELLO Y FECHA RRHH)</td>
        </tr>
        <tr style="text-align: center">
            <td>
                <div class="dots_top">
                    <br>
                    FIRMA DEL FUNCIONARIO
                </div>
            </td>
            <td>
                <div class="dots_top">
                    {{ item.jefe.first_name }} {{ item.jefe.last_name }}
                    <br>
                    FIRMA INMEDIATO SUPERIOR
                </div>
            </td>
        </tr>

    </table>
</body>
</html>
